{% extends 'base.html' %}  
  
{% block content %}  

    <div class="container-full vh-100">
        <div class="d-flex justify-center py-20">
            <form action="/signup/" method="POST" class="card mt-25">
                <div class="text-center mb-20">
                    <span class="d-block brand letter-space-0 display-4">Financial order</span>
                    <span class="d-block">Sign up</span>
                </div>
                <div class="">
                    {% csrf_token %}  
                    {% for field in form %}
                        <div {% if field.errors %} class="border-red" {% endif %}>
                            {{field}}
                        </div>
                        <div class="help-text light-text mb-20"> {{field.help_text}} </div>
                        <div class="danger-text">
                            {{field.errors}}
                        </div>
                    {% endfor %}
                </div>
                <button class="button">Sign up >></button>
            </form>  
        </div>
    </div>
{% endblock content %}  
