{% load static %}
<div class="header-tools ht-1 d-flex justify-between">
    <span class="header-functions">
        <span title="Save table">
            <img src="{% static "img/save2.png" %}" alt="save table" width=32 class="save-data">
        </span>
        <span title="Edit table">
            <img src="{% static "img/edit.png" %}" alt="edit data" width=32 class="edit-table">
        </span>
        <span title="Erase row data">
            <img src="{% static "img/rubber.png" %}" alt="delete table" width=32 class="delete-table">
        </span>
    </span>
    <span title="Delete table">
        <img src="{% static "img/close.png" %}" alt="delete table" width=30 class="delete-table">
    </span>
</div>