{% extends 'plans/base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div class="container-full vh-100">

    {% include 'plans/nav.html' %}

    <section id="sidemenu" class="menu-collapsed base-font brand-color">

        {# HEADER #}
        <div id="header">
            <div id="title"><span>Menú</span></div>
            <div id="menu-btn">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
        </div>

        {# Profile #}
        <div id="profile">
            <div id="photo"><img src="{% static "img/photo.png" %}" alt=""></div>
            <div id="name"><span>{{user.first_name}}</span></div>
        </div>

        {# Items #}
        <div id="menu-items">
            <div class="item">
                <a href="#">
                    <div class="icon" title="Create new table">
                        <img src="{% static "img/inserttable.png" %}" alt="">
                    </div>
                    <div class="title">
                        <span>Create new table</span>
                    </div>
                </a>
            
              <form action="POST" id="form" class="createNewTableForm">
                {% csrf_token %}
                {{createNewTableForm.name.label}}
                {{createNewTableForm.name}}
                <div class="d-flex mb-20">
                    <div>
                        {{createNewTableForm.columns.label}}
                        {{createNewTableForm.columns}}
                    </div>
                    <div>
                        {{createNewTableForm.rows.label}}
                        {{createNewTableForm.rows}}
                    </div>
                </div>
                <input type="submit" class="button" value="Create table now >>">
              </form>
            </div>
 
            <div class="item separator"></div>
          
            <div class="item">
                <a href="#">
                    <div class="icon" title="Add a new annotation on the right side panel.">
                        <img src="{% static "img/pencil.png" %}" alt="">
                    </div>
                    <div class="title"><span>Notes</span></div>
                </a>
                <form id="form" class="createNewNoteForm">
                    {% csrf_token %}
                    {{createAnnotationsForm}}
                    <input type="submit" class="button" value="Add annotation >>">
                </form>
            </div>
        </div>
    </section>

    <section class="base-font mx-25 mt-160">
        <div class="messages">
            <h3><span>&#128512</span> Hello {{user.username}} !</h3>
            <span>You have not any financial plan created yet. You can start creating a custom table.</span>
        </div>
    </section>

    <section class="table-section mx-25 d-flex justify-center">
        <div class="tables">
            {% include 'plans/table_1.html' %}
            <hr>
            {% comment %} {% include 'plans/table_2.html' %} {% endcomment %}
            <hr>
        </div>
        <section class="observations ml-25 border-black">
            <div class="sticky-notes w-318">

                {% comment %} <div class="alert success max-w-500">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';"> x </span>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores consectetur qui culpa, eveniet quod explicabo porro aliquam sint eum nemo laudantium odio at, perspiciatis ipsum praesentium eligendi? Modi, vero est!  &#128516;
                </div>
                <div class="alert info max-w-500">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';"> x </span>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores consectetur qui culpa, eveniet quod explicabo porro aliquam sint eum nemo laudantium odio at, perspiciatis ipsum praesentium eligendi? Modi, vero est!  &#128516;
                </div> 
                <div class="alert danger max-w-500">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';"> x </span>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores consectetur qui culpa, eveniet quod explicabo porro aliquam sint eum nemo laudantium odio at, perspiciatis ipsum praesentium eligendi? Modi, vero est!  &#128516;
                </div> 
                <div class="alert warning max-w-500">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';"> x </span>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores consectetur qui culpa, eveniet quod explicabo porro aliquam sint eum nemo laudantium odio at, perspiciatis ipsum praesentium eligendi? Modi, vero est!  &#128516;
                </div>  {% endcomment %}

            </div>
        </section>
    </section>
    <div class='console hidde-console'>
        <div class="editor">
            <header class="editor-header border-black">
                <div class="d-flex align-center">
                    <span class="mx-25">Table Functions</span>
                    <img src="{% static 'img/function.png' %}">
                </div>
            </header>
            <textarea class="textarea" autocomplete="off" id="textareaCode" wrap="logical" spellcheck="false" rows="10"></textarea>
        </div>
    </div>
</div>
{% else %}
    Message: You are not registered! ... we are redirecting you to home
    <a id="redirect" href="{% url 'index' %}"></a>
    <script>
        document.getElementById('redirect').click();
    </script>
{% endif %}
{% endblock content %}